<html>

<head>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <title>Write something!</title>
</head>

<body>
  <header>
    <h1>Write something for the world!</h1>
  </header>

  <main>
    <div class="msg-form">
      <form method="post" action="/new">
        <div>
          <label for="user">Name</label>
          <input id="user" name="user" type="text" maxlength="20">
        </div>
        <br>
        <div>
          <label for="msg">Message</label>
          <textarea id="msg" name="msg" type="text" maxlength="300"></textarea>
        </div>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>

  <footer>
    <div class="btn">
      <a href="/">Go back to message board</a>
    </div>
  </footer>
</body>

</html>